component1 : backgroung-color:yellow;
component2 :backgroung-color:skyblue;
component3 :backgroung-color:red;
component4 :backgroung-color:purple;
component-border :border-style: solid;
border-width: 4px;
border:color: black;






