
.l_border {border-style: solid;
border-width: 4px;
border-color: black;
background-color: yellow;
 width: 500px;
height: 300px;
}

.L_P{font-size: 30px; color: black; text-align: center;}

.L_textarea{color: blue; background-color:pink;}

.L_button {
  border: yes;
  border-color: purple;
  background-color:pink;
  color: blue;  
  font-size: 16px;
  padding: 1px 20px;

}
